MONGO_URI= // Replace with your actual MongoDB connection string
PORT=8000
JWT_SECRET= // Replace with your actual JWT secret key
JWT_EXPIRES_IN= // Replace with your desired JWT expiration time (e.g., 7d for 7 days)
RAZORPAY_KEY_ID=your_key_id
RAZORPAY_KEY_SECRET=your_key_secret