<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Login</title>
</head>
<body>
  <h2>Login</h2>
<form action="api/users/login" method="POST">
    <div>
      <label>Email:</label><br/>
      <input type="email" id="email" name="email" placeholder="you@email.com" required />
    </div><br/>
    <div>
      <label>Password:</label><br/>
      <input type="password" id="password" name="password" placeholder="Your password" required />
    </div><br/>
    <button type="submit">Login</button>
  </form>
  <p id="msg"></p>
  <p>Don't have an account? <a href="/SignUp.html">Signup</a></p>
</html>