<head>
  <meta charset="UTF-8" />
  <title>Signup</title>
</head>
<body>
  <h2>Signup</h2>
  <form action="api/users/register" method="POST">
    <div>
      <label>Name:</label><br />
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Your name"
        required
      />
    </div>
    <br />
    <div>
      <label>Email:</label><br />
      <input
        type="email"
        id="email"
        name="email"
        placeholder="you@email.com"
        required
      />
    </div>
    <br />
    <div>
      <label>Phone:</label><br />
      <input
        type="tel"
        id="phone"
        name="phone"
        placeholder="9876543210"
        required
      />
    </div>
    <br />
    <div>
      <label>Password:</label><br />
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Min 8 chars"
        required
      />
    </div>
    <br />
    <div>
      <label>Street:</label><br />
      <input
        type="text"
        id="street"
        name="street"
        placeholder="Street / Area"
        required
      />
    </div>
    <br />
    <div>
      <label>City:</label><br />
      <input type="text" id="city" name="city" placeholder="City" required />
    </div>
    <br />
    <div>
      <label>State:</label><br />
      <input type="text" id="state" name="state" placeholder="State" required />
    </div>
    <br />
    <div>
      <label>Pincode:</label><br />
      <input type="text" id="pincode" name="pincode" placeholder="575001" />
    </div>
    <br />
    <button type="submit">Signup</button>
  </form>
  <p id="msg"></p>
  <p>Already have an account? <a href="Login.html">Login</a></p>
</body>
